<html>
<head>
    <meta charset="UTF-8">
    <title>Add zan</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
<script src="../static/javascript/before_load_main.js"></script>
<div class="hero">
    <div class="form-box">
        <div type="text" class="center-text"> Добавление занятия</div>

        <div id="forgot" class="input-group">
            <input type="text" id="zan" class="input-field" placeholder="Занятие" required>
            <input type="text" id="time" class="input-field" placeholder="Время" required>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <button type="submit" id="addzan-btn" class="submit-btn">Добавить</button>
        </div>
    </div>
</div>
<script src="../static/node_modules/jquery/dist/jquery.js"></script>
<script src="../static/javascript/addzan.js"></script>
</body>
</html>