<html>
<head>
    <meta charset="UTF-8">
    <title>Changing password</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
<div class="hero">
    <div class="form-box">
        <div type="text" class="center-text"> Restore password</div>

        <div id="forgot" class="input-group">
            <input type="text" id="email" class="input-field" placeholder="Email" required>
            <input type="password" id="password" class="input-field" placeholder="Password" required>
            <input type="password" id="passwordConfirm" class="input-field" placeholder="Repeat password" required>
            <input type="checkbox" class="check-box"><span>Remember password</span>
            <button id="submit-forgot-form" class="submit-btn">Change password</button>
        </div>
    </div>
</div>
<script src="../static/node_modules/jquery/dist/jquery.js"></script>
<script src="../static/javascript/forgot.js"></script>
</body>
</html>